extends layout

block content
  div(ng-app="hcChart",ng-controller="ChartCtrl")
    .container-fluid
      .row
        .col-md-2
          h2 General Stats
          .table-responsive
              table.table
                tr
                  td Number of users
                  td {{dailyStats.numberOfUsers}}
                tr
                  td Number of countries
                  td {{dailyStats.numberOfCountries}}
                tr
                  td Number of companies
                  td {{dailyStats.numberOfCompanies}}
                tr
                  td Number of likes
                  td {{dailyStats.numberOfLikes}}
        .col-md-3
          h2 Project Stats
          .table-responsive
            table.table
              tr
                td Number of projects
                td {{dailyStats.numberOfAllProjects}}
              tr
                td
                  a(href='/export/draftprojects',target='_blank') Draft Projects
                td {{dailyStats.projectStats.draft}}
                td {{dailyStats.projectStats.draftPerc}}%
              tr
                td
                  a(href='/export/pendingprojects',target='_blank') Pending Projects
                td {{dailyStats.projectStats.pending}}
                td {{dailyStats.projectStats.pendingPerc}}%
              tr
                td Approved Projects
                td {{dailyStats.projectStats.active}}
                td {{dailyStats.projectStats.activePerc}}%
              tr
                td Number of general projects
                td {{dailyStats.projectsByType.general}}
                td {{dailyStats.projectsByType.general*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td Number of idea projects
                td {{dailyStats.projectsByType.idea}}
                td {{dailyStats.projectsByType.idea*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td Number of perfectly managed
                td {{dailyStats.numberOfWellManagedProjects}}
                td {{dailyStats.numberOfWellManagedProjects*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td
                  a(href='/export/withoutlinks',target='_blank') Without Links
                td {{dailyStats.projMissingStats.withoutLinks}}
                td {{dailyStats.projMissingStats.withoutLinks*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td
                  a(href='/export/withoutfiles',target='_blank') Without Files
                td {{dailyStats.projMissingStats.withoutFiles}}
                td {{dailyStats.projMissingStats.withoutFiles*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td
                  a(href='/export/withoutrepo',target='_blank') Without Repo
                td {{dailyStats.projMissingStats.withoutRepo}}
                td {{dailyStats.projMissingStats.withoutRepo*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td
                  a(href='/export/withoutdeadline',target='_blank') Without Deadline
                td {{dailyStats.projMissingStats.withoutDeadline}}
                td {{dailyStats.projMissingStats.withoutDeadline*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td
                  a(href='/export/withoutmilestones',target='_blank') Without Milestones
                td {{dailyStats.projMissingStats.withoutMilestones}}
                td {{dailyStats.projMissingStats.withoutMilestones*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td
                  a(href='/export/withouttodo',target='_blank') Without less than 3 ToDos
                td {{dailyStats.projMissingStats.withoutTodos}}
                td {{dailyStats.projMissingStats.withoutTodos*100/dailyStats.numberOfProjects|number:0}}%
              tr
                td Closed Projects
                td {{dailyStats.projectStats.closed}}
                td {{dailyStats.projectStats.closedPerc}}%
        .col-md-2
          h2 NGO Stats
          .table-responsive
            table.table
              tr
                td Number of NGOs
                td {{dailyStats.numberOfNgos}}
              tr
                td
                  a(href='/export/pendingngos',target='_blank') Pending NGOs
                td {{dailyStats.ngoStats.pending}}
                td {{dailyStats.ngoStats.pendingPerc}}%
              tr
                td
                  a(href='/export/draftngos',target='_blank') Draft NGOs
                td {{dailyStats.ngoStats.draft}}
                td {{dailyStats.ngoStats.draftPerc}}%
              tr
                td Approved NGOs
                td {{dailyStats.ngoStats.active}}
                td {{dailyStats.ngoStats.activePerc}}%
              tr
                td NGOs with projects
                td {{dailyStats.ngoStats.withProjects}}
                td {{dailyStats.ngoStats.withProjectsPerc}}%
        .col-md-3
          h2 Volunteering Stats
          .table-responsive
            table.table
              tr
                td Open Positions
                td {{dailyStats.volStats.openPositions}}
                td {{dailyStats.volStats.openPositions*100/(dailyStats.volStats.openPositions+dailyStats.volStats.pendingPositions+dailyStats.volStats.takenPositions)| number:0}}%
              tr
                td
                  a(href='/export/pendingpositions',target='_blank') Pending Positions
                td {{dailyStats.volStats.pendingPositions}}
                td {{dailyStats.volStats.pendingPositions*100/(dailyStats.volStats.openPositions+dailyStats.volStats.pendingPositions+dailyStats.volStats.takenPositions)| number:0}}%
              tr
                td Taken Positions
                td {{dailyStats.volStats.takenPositions}}
                td {{dailyStats.volStats.takenPositions*100/(dailyStats.volStats.openPositions+dailyStats.volStats.pendingPositions+dailyStats.volStats.takenPositions)| number:0}}%
        .col-md-2
          h2 User Stats
          .table-responsive
            table.table
              tr
                td
                  a(href='/export/withoutskills',target='_blank') Without skills
                td {{dailyStats.userStats.withoutSkills}}
                td {{dailyStats.userStats.withoutSkills*100/dailyStats.numberOfUsers|number:0}}%
              tr
                td
                  a(href='/export/withoutinterests',target='_blank') Without interests
                td {{dailyStats.userStats.withoutInterest}}
                td {{dailyStats.userStats.withoutInterest*100/dailyStats.numberOfUsers|number:0}}%
              tr
                td
                  a(href='/export/withoutslack',target='_blank') Without slack
                td {{dailyStats.userStats.withoutSlack}}
                td {{dailyStats.userStats.withoutSlack*100/dailyStats.numberOfUsers|number:0}}%
              tr
                td Project owners
                td {{dailyStats.userStats.projectOwners}}
                td {{dailyStats.userStats.projectOwners*100/dailyStats.numberOfUsers|number:0}}%
    .container-fluid
      .row
        div(class="row")
            div(class="col-md-4")
                input(type="text", class="form-control",datepicker, ng-model="from",placeholder="From...")
             div(class="col-md-4")
                input(type="text", class="form-control",datapicker, ng-model="to",placeholder="To...")
             div(class="col-md-4")
                input(type="button",class="btn btn-primary form-control btn-block" value="Go",ng-click="search()")
        div(class="row")
          h2 Users
          div(data-ac-chart="'bar'"  data-ac-data="userData" data-ac-config="config"  class="chart",style="width:100%;height:700px")
        div(class="row")
          h2 Project
          div(data-ac-chart="'bar'"  data-ac-data="projectData" data-ac-config="config"  class="chart",style="width:100%;height:700px")
        div(class="row")
          h2 NGO
          div(data-ac-chart="'bar'"  data-ac-data="ngoData" data-ac-config="config"  class="chart",style="width:100%;height:700px")
  .container-fluid
    .row
      .col-md-2
        h3 Top Skills
        .table-responsive
          table.table
            each skill in tops.skills
              tr
                td #{skill.name}
                td #{skill.count}
      .col-md-2
        h3 Top Needed Skills
        .table-responsive
          table.table
            each skill in tops.projectSkills
              tr
                td #{skill.name}
                td #{skill.count}
      .col-md-2
        h3 Top Companies
        .table-responsive
          table.table
            each company in tops.companies
              tr
                td #{company.name}
                td #{company.count}
      .col-md-2
        h3 Top Industries
        .table-responsive
          table.table
            each industry in tops.industries
              tr
                td #{industry.name}
                td #{industry.count}
      .col-md-2
        h3 Top Eductation
        .table-responsive
          table.table
            each ed in tops.educations
              tr
                td #{ed.name}
                td #{ed.count}
      .col-md-2
        h3 Top Countries
        .table-responsive
          table.table
            each c in tops.countries
              tr
                td #{c.name}
                td #{c.count}
    .container-fluid
      h2 Countries of registered users
      #mapdiv(style="width: 1000px; height: 450px;")

block scripts
  script(src="http://cdn.amcharts.com/lib/3/ammap.js",type="text/javascript")
  script(src="http://cdn.amcharts.com/lib/3/maps/js/worldHigh.js", type="text/javascript")
  script(src="http://cdn.amcharts.com/lib/3/themes/dark.js", type="text/javascript")
  script(src="/js/chartApp.js",type="text/javascript")
